alias k="clear"
alias x="exit"
alias q="exit"
alias :q="exit"
alias ltr="ls -ltr"
alias ...="../.."
alias ....="../../.."
alias .....="../../../.."
alias rm=trash # safer deleting using trash-cli
alias please=sudo # nicer sudo command
alias dammit=sudo # meaner sudo command
alias resource="source ~/.zshrc"
alias zshconfig="atom ~/.zshrc"

# Spotify
# alias s.="spotify next"
# alias s,="spotify prev"
# alias sp="spotify pause"

# Git
alias gmm="git merge master"
alias gf="git fetch --all --prune"
alias gl="git pull"
alias gd="git diff"
alias ga="git add"
alias gcm="git checkout master"
alias glm="git checkout master && git pull"
alias gcam="git commit -am"
alias gcmsg="git commit --message"
alias gs="git status"
alias glg="git log --graph --decorate --pretty=oneline --abbrev-commit --all"
alias clone="git clone"
alias gpub="publish_current_branch"
alias gbam="delete_local_merged_branches"
alias gbamr="delete_remote_merged_branches"
alias gcleanup="delete_local_merged_branches && delete_remote_merged_branches"


# start screensaver
# alias afk="open -a /System/Library/Frameworks/ScreenSaver.framework/Versions/A/Resources/ScreenSaverEngine.app"

# get current weather
alias weather="curl wttr.in"
