[submodule "git-summary"]
	path = git-summary
	url = https://github.com/MirkoLedda/git-summary

[submodule "z"]
	path = z
	url = https://github.com/rupa/z

[submodule "SpotifyControl"]
	path = SpotifyControl
	url = https://github.com/dronir/SpotifyControl.git
