[user]
	name = Patrick McDonagh
	email = patrickjmcd@gmail.com
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[core]
	excludesfile = /Users/patrickjmcd/.gitignore_global
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
